<div class="container">
    <p>initial-page works!</p>
    <nav>
        <button type="button" class="btn btn-primary" routerLink="/configPage">config page</button>
    </nav>
    
    <form>
        <div class="form-group">
            <label></label>
            <input type="text" class="form-control"/>
        </div>
        <button type="button" class="btn btn-primary">Enviar</button>
        <router-outlet></router-outlet>
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-primary" routerLink="/initialPage/pageA">page A</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-primary" routerLink="/initialPage/pageB">page B</button>
            </div>
        </div>
    
    </form>    
</div>