<p>orders works!</p>
<form [formGroup]="ordersFormGroup">
  {{ date }}<br>
  <input type="search">
  <input type="date" formControlName="date">
  <input type="tel">
  <input type="time" formControlName="time">
  <input type="email">
  <br>
  <input type="radio" formControlName="color" value="red">
  <input type="radio" formControlName="color" value="black">
  <input type="radio" formControlName="color" value="green">
  <br>
  <input type="checkbox" formControlName="numbers" value="true">
  <br>
  <input type="text" formControlName="username" maxlength="50">
  <input type="text" formControlName="text" maxlength="50"  (keyup)="checkValue($event)">
  <textarea type="text" formControlName="description" maxlength="50"></textarea>
  <!--Using ng-option and for loop-->
  <button type="button" (click)="submit()">Send</button>
  <!--Using items input-->
  <!--<ng-select [items]="cars"
           bindLabel="name">
</ng-select>-->

</form>

Selected city object: {{ ordersFormGroup.value | json}}
